## GENERAL
PROJECT_NAME="Utility Book API"
TZ="America/Toronto"
LANGUAGE_CODE="ru-ru"

## DJANGO SETTINGS
SECRET_KEY=""
DEBUG="true"
ALLOWED_HOSTS=""

GAS_DEC_INITIAL_READING=""

ADMIN_USER=""
ADMIN_PASSWORD=""

## POSTGRES
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST="pg"
POSTGRES_PORT="5432"
