# GENERAL
PROJECT_NAME="Utility Book"
TZ="America/Toronto"

# DJANGO SETTINGS
SECRET_KEY="django-insecure-mK7vX2nP9qL4wR1tY6uB3cF8hJ5dZ0sA2eG7iN4oQ9rT"
DEBUG="true"

## POSTGRES
POSTGRES_DB="utility_bot"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="pg"
POSTGRES_PORT="5432"
